target
.cache

# Intellij
*.iml
*.ipr
*.iws
.idea

# Eclipse
**/.settings
**/.project
**/.classpath
**/.checkstyle
**/.factorypath

# VS Code
**/.vscode/

.DS_Store

# Release files
*.releaseBackup
release.properties
pom.xml.tag
